<!doctype html>  
<html lang="en">
  <head>
    <title>python-startup</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />
    <link rel="stylesheet" href="http://xuzhixiang.u.qiniudn.com/reveal/2.6.2/css/reveal.css">
    <link rel="stylesheet" href="http://xuzhixiang.u.qiniudn.com/reveal/2.6.2/css/theme/default.css" id="theme">
    <!-- For syntax highlighting -->
    <link rel="stylesheet" href="http://xuzhixiang.u.qiniudn.com/reveal/2.6.2/lib/css/zenburn.css">
    <!-- Include the appropriate print stylesheet -->
  </head>
  <body>
    <div class="reveal">
      <div class="slides">
	<section>
	    <section>
	      <h1>安装</h1>

	    </section>
	    <section>
	      <h2>windows</h2>
<p>去<a href="http://python.org/getit">python.org</a>下载对应的安装包。注意：</p>
<ul>
<li>python.org，不是com！！！</li>
<li>gitit，不要download，会被墙</li>
</ul>
<p>最后，注意一点。python在windows下有相当多的兼容问题，例如编码（混帐windows）。</p>

	    </section>
	    <section>
	      <h2>deb</h2>
<pre><code>aptitude install python
</code></pre>

	    </section>
	    <section>
	      <h2>rpm</h2>
<p>我也不知道，大概是<code>yum install python</code>。</p>

	    </section>
	    <section>
	      <h2>mac</h2>
<p>自带。</p>

	    </section>
	    <section>
	      <h2>python shell</h2>
<ul>
<li>python</li>
<li>ipython</li>
<li>bpython</li>
<li>DreamPie</li>
</ul>

	    </section>
	    <section>
	      <h2>IDE</h2>
<ul>
<li>ulipad</li>
<li>pydev</li>
<li>emacs</li>
</ul>

	    </section>
	</section>
      </div>
      <div class="slides">
	<section>
	    <section>
	      <h1>program</h1>

	    </section>
	    <section>
	      <h2>hello, world</h2>
<pre><code>print 'hello, world'
</code></pre>

	    </section>
	    <section>
	      <h2>varable</h2>
<pre><code>a = 1
b = '2'
c = a + b # BooBoo, error
c = str(a) + b
d = '12'
id(c) == id(d) # True
</code></pre>

	    </section>
	    <section>
	      <h2>control</h2>
<pre><code>if a &lt; b:
    do somethin
for i in range(10):
    print i
while True:
    died loop
with the_people_you_love():
    die
</code></pre>

	    </section>
	    <section>
	      <h2>function</h2>
<pre><code>def mul(a, b):
    return a * b
def mulmul(*p):
    s = 1
    for i in p: s = mul(s, i)
    return s
def yamm(*p):
    return reduce(mul, p)

def f(a, b, c):
    return a + c
f(1, None, 2)
f(1, c=2, b=0)
def g(a, b=0, c=0):
    return a + c
f(1)
f(1, c=2)
</code></pre>

	    </section>
	    <section>
	      <h2>class</h2>
<pre><code>class A(object):
    b = 1
    def __init__(self):
        self.c = 2
a = A()
</code></pre>
<p>注意a.b和a.c的区别。</p>

	    </section>
	    <section>
	      <h2>yield</h2>
<pre><code>for i in fib(n): print i

def fib1(n):
    a, b, r = 1, 0, []
    for i in xrange(n):
        a, b = a+b, a
        r.appand(a)
    return r

def fib2(n):
    a, b = 1, 0
    for i in xrange(n):
        a, b = a+b, a
        yield a

def fib3(n):
    def inner(i, a, b):
        if i == n: return None, None
        return lambda : inner(i+1, a+b, a), a+b
    return inner(1, 1, 0)

l, a = fib3(10)
while l:
    print a
    l, a = l()
</code></pre>

	    </section>
	</section>
      </div>
      <div class="slides">
	<section>
	    <section>
	      <h1>package management</h1>

	    </section>
	    <section>
	      <h2>pip</h2>
<pre><code>pip install virtualenv
pip install -r requirements.txt
</code></pre>

	    </section>
	    <section>
	      <h2>virtualenv</h2>
<pre><code>virtualenv env
</code></pre>

	    </section>
	    <section>
	      <h2>常用包</h2>
<ul>
<li>chardet</li>
<li>numpy</li>
<li>scipy</li>
<li>sympy</li>
<li>matplotlib</li>
<li>pygments</li>
<li>virtualenv</li>
<li>mako</li>
<li>sqlalchemy</li>
<li>gevent</li>
<li>Scapy</li>
<li>pyzmq</li>
<li>twisted</li>
<li>werkzeug</li>
<li>celery</li>
<li>beautifulsoap</li>
<li>lxml</li>
<li>pyqt</li>
<li>pyside</li>
<li>pygame</li>
<li>PIL</li>
</ul>

	    </section>
	</section>
      </div>
      <div class="slides">
	<section>
	    <section>
	      <h1>web deploy</h1>

	    </section>
	    <section>
	      <h2>nginx</h2>
<pre><code>location /static {
         index  index.html index.htm;
         gzip   on;
}

location ~ ^/(api|sys)/ {
         include        uwsgi_params;
         uwsgi_pass     unix:/run/uwsgi/app/app1/socket;
}
</code></pre>

	    </section>
	    <section>
	      <h2>apache</h2>
<pre><code>&lt;Location /&gt;
    SetHandler uwsgi-handler
    uWSGISocket 127.0.0.1:3031
&lt;/Location&gt;
</code></pre>

	    </section>
	    <section>
	      <h2>uwsgi</h2>
<pre><code>[uwsgi]
uid             = web
gid             = web
chmod-socket    = 666

plugins         = python
workers         = 1
reload-on-as    = 196
touch-reload    = /home/web/app1/RELEASE
chdir           = /home/web/app1
pythonpath      = /usr
module          = main
</code></pre>

	    </section>
	    <section>
	      <h2>web.py</h2>
<pre><code>app = web.application(urls)

if web.config.get('sesssion') is None:
    web.config.session = web.session.Session(
        app, web.session.DBStore(web.config.db, 'sessions'))

if __name__ == '__main__':
    if len(sys.argv) &gt; 1:
        cmd = sys.argv.pop(1)
        if cmd == 'profile':
            app.run(web.profiler)
        elif cmd == 'test':
            from test import tester
            tester.testall(app)
    else: app.run()
else: application = app.wsgifunc()
</code></pre>

	    </section>
	    <section>
	      <h2>django</h2>
<pre><code>uwsgi --chdir=/path/to/your/project \
    --module=mysite.wsgi:application \
    --env DJANGO_SETTINGS_MODULE=mysite.settings \
    --master --pidfile=/tmp/project-master.pid \
    --socket=127.0.0.1:49152 \      # can also be a file
    --processes=5 \                 # number of worker processes
    --uid=1000 --gid=2000 \         # if root, uwsgi can drop privileges
    --harakiri=20 \                 # respawn processes taking more than 20 seconds
    --limit-as=128 \                # limit the project to 128 MB
    --max-requests=5000 \           # respawn processes after serving 5000 requests
    --vacuum \                      # clear environment on exit
    --home=/path/to/virtual/env \   # optional path to a virtualenv
    --daemonize=/var/log/uwsgi/yourproject.log      # background the process
</code></pre>

	    </section>
	    <section>
	      <h2>dispatcher</h2>
<ul>
<li><p>Quixote</p></li>
<li><p>django</p>
<p>urlpatterns = patterns('',
    # Examples:
    # url(r'^$', '{{ project<em>name }}.views.home', name='home'),
    # url(r'^{{ project</em>name }}/', include('{{ project_name }}.foo.urls')),</p>
<pre><code># Uncomment the admin/doc line below to enable admin documentation:
# url(r'^admin/doc/', include('django.contrib.admindocs.urls')),


# Uncomment the next line to enable the admin:
url(r'^admin/', include(admin.site.urls)),
</code></pre>
<p>)</p></li>
<li><p>web.py</p>
<p>urls = (
    '/openid/', 'actions.webgid.host',
    '/ticket/', 'actions.ticket.ticket',
    '/timezone/', 'actions.timezone.timezone',
    '/segment/', 'actions.segtxt.segtxt',
    '/txtimg', txtimg.app,
    '/pycode', pycode.app,
)</p></li>
<li><p>bottle</p>
<p>from bottle import route, run, template</p>
<p>@route('/hello/:name')
def index(name='World'):
    return template('<b>Hello {{name}}</b>!', name=name)</p>
<p>run(host='localhost', port=8080)</p></li>
<li><p>flask</p>
<p>from flask import Flask
app = Flask(<strong>name</strong>)</p>
<p>@app.route("/")
def hello():
    return "Hello World!"</p>
<p>if <strong>name</strong> == "<strong>main</strong>":
    app.run()</p></li>
</ul>

	    </section>
	    <section>
	      <h2>ORM</h2>
<p>ORM有用么？</p>

	    </section>
	    <section>
	      <h2>template</h2>
<ul>
<li><p>mako</p>
<p>&lt;%inherit file="base.html"/&gt;
&lt;%
    rows = [[v for v in range(0,10)] for row in range(0,10)]
%&gt;</p>
<table>
    % for row in rows:
        ${makerow(row)}
    % endfor
</table>
<p>&lt;%def name="makerow(row)"&gt;
    <tr>
    % for name in row:
        <td>${name}</td>\
    % endfor
    </tr>
</p>
<p>from mako.template import Template
print Template("hello ${data}!").render(data="world")</p></li>
<li><p>jinja2</p>
<p>{% extends "layout.html" %}
{% block body %}
  <ul>
  {% for user in users %}
    <li><a href="{{ user.url }}">{{ user.username }}</a></li>
  {% endfor %}
  </ul>
{% endblock %}</p>
<p>from jinja2 import Template
template = Template(...)
template.render(name='John Doe')</p></li>
</ul>

	    </section>
	    <section>
	      <h2>session</h2>

	    </section>
	</section>
      </div>
    </div>
    <script src="http://xuzhixiang.u.qiniudn.com/reveal/2.6.2/lib/js/head.min.js"></script>
    <script src="http://xuzhixiang.u.qiniudn.com/reveal/2.6.2/js/reveal.js"></script>
    <script>
// Full list of configuration options available here:
// https://github.com/hakimel/reveal.js#configuration
Reveal.initialize({
    controls: true,
    progress: true,
    history: true,

    theme: Reveal.getQueryHash().theme, // available themes are in /css/theme
    transition: Reveal.getQueryHash().transition || 'default', // none/fade/slide/convex/concave/zoom

    // Parallax scrolling
    // parallaxBackgroundImage: 'https://s3.amazonaws.com/hakim-static/reveal-js/reveal-parallax-1.jpg',
    // parallaxBackgroundSize: '2100px 900px',

    // Optional libraries used to extend on reveal.js
    dependencies: [
	{ src: 'http://xuzhixiang.u.qiniudn.com/reveal/2.6.2/lib/js/classList.js', condition: function() { return !document.body.classList; } },
	{ src: 'http://xuzhixiang.u.qiniudn.com/reveal/2.6.2/plugin/markdown/marked.js', condition: function() { return !!document.querySelector( '[data-markdown]' ); } },
	{ src: 'http://xuzhixiang.u.qiniudn.com/reveal/2.6.2/plugin/markdown/markdown.js', condition: function() { return !!document.querySelector( '[data-markdown]' ); } },
	{ src: 'http://xuzhixiang.u.qiniudn.com/reveal/2.6.2/plugin/highlight/highlight.js', async: true, callback: function() { hljs.initHighlightingOnLoad(); } },
	{ src: 'http://xuzhixiang.u.qiniudn.com/reveal/2.6.2/plugin/zoom-js/zoom.js', async: true, condition: function() { return !!document.body.classList; } },
	{ src: 'http://xuzhixiang.u.qiniudn.com/reveal/2.6.2/plugin/notes/notes.js', async: true, condition: function() { return !!document.body.classList; } }
    ]
});
    </script>
  </body>
</html>
